<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.robam.pan">

    <application>
        <activity
            android:name=".ui.activity.MainActivity"
            android:exported="false"
            android:screenOrientation="landscape"/>
    </application>

</manifest>