<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.robam.cabinet">

    <application>
        <activity
            android:name=".ui.activity.WorkActivity"
            android:screenOrientation="landscape"
            android:exported="false" />
        <activity
            android:name=".ui.activity.AppointMentActivity"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".ui.activity.ModeSelectActivity"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".ui.activity.MainActivity"
            android:exported="false"
            android:screenOrientation="landscape" />
    </application>

</manifest>